__pycache__/
*.pyc
.pytest_cache/
data/raw/owid-co2-data.csv
data/raw/portfolio_landing.csv
data/raw/portfolio_landing_api.csv
.ipynb_checkpoints/
.DS_Store
Documentation.pages
.virtual_documents/
Screenshot 2026-09-04 at 9.50.45 PM.png